# Virtual environment
venv/
env/

# Database
*.db
*.sqlite3

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Migration files
migrations/